@model FirstAppMVC.Models.User
@{
    ViewData["Title"] = "Details";
}
<h1>User Details</h1>
<h3> UserID : @Model.UserID</h3>
<h3>Username : @Model.Username</h3>
<h3>Password : @Model.Password</h3>
<h3>RoleID : @Model.RoleID</h3>
